.fx-canvas{border:0!important;box-shadow:none!important}
.fx-layer.selected{outline:0!important}
.fx-selection{display:none!important}
.fx-preview-media{object-fit:contain!important;object-position:center center!important}
.fx-layer{left:50%!important;top:50%!important}
